:root
{
    --main-color: #36281d;
    --title-font: "Mirra", sans-serif;
    --news-font: "Headlines", sans-serif;
    --main-news: Snell Roundhand, cursive;
}

@font-face
{
    font-family: "Mirra";
    src: url("../fonts/Mirra.otf") format("opentype");
}

@font-face
{
    font-family: "weather";
    src: url("../fonts/weather.otf") format("opentype");
}

@font-face
{
    font-family: "Headlines";
    src: url("../fonts/Headlines.ttf") format("opentype");
}

@font-face
{
    font-family: "halloween";
    src: url("../fonts/halloween.ttf") format("opentype");
}

.A4
{
    width: 98%;
    margin: 0 auto;
    border: 10px solid saddlebrown;
    background-image: url("../img/paper-small.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.A4:has(> .item:checked)
{
    background: var(--main-color);
    border: 10px solid beige;
}

.item:checked ~ * *
{
    color: beige;
}

.item:checked ~ * .witch
{
    filter: sepia(10) hue-rotate(30deg) brightness(7);
}

#btnControl
{
    display: none;
}

.btn
{
    width: 100px;
    height: 20px;
    border-radius: 5px;
    padding: 10px 2px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);
    font-size: 1em;
}

.item
{
    display: none;
}

@media print
{
    @page
    {
        size: A4;
    }

    .btn
    {
        display: none;
    }
}

.name
{
    display: flex;
    flex-direction: row;
    width: 72%;
}

.play-news-wrapper
{
    float: right;
    position: relative;
    width: 25%;
}

.name-wrapper
{
    display: flex;
}

.newspaper-name
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.first-line
{
    font: 2.5em var(--main-news);
    color: var(--main-color);
    text-align: center;
}

.second-line
{
    font: 2.5em var(--news-font);
    color: var(--main-color);
    text-align: center;
}

.third-line
{
    font: 1.5em var(--main-news);
    color: var(--main-color);
    text-align: center;
}

.logo
{
    width: 213px;
    height: 250px;
    margin: auto 0;
}

.halloween-wrapper
{
    width: 65%;
}

.halloween
{
    width: 100%;
    font: 1.5rem var(--title-font);
    color: var(--main-color);
    display: flex;
}

.halloween p
{
    column-count: 3;
}

.A4:hover *
{
    opacity: 1;
}

.play-news
{
    width: 100%;
    text-align: center;
}

.play-news h1
{
    font: bold 2.5em var(--news-font);
    color: var(--main-color);
}

.play-news h2
{
    font: bold 2.5em var(--news-font);
    color: var(--main-color);
}

.play
{
    width: 120px;
    height: 120px;
}

.weather
{
    width: 100%;
    text-align: center;
    float: right;
    color: var(--main-color);
    margin-right: 0;
}

.weather dt,
.weather dd
{
    margin-left: auto;
    margin-right: 0;
}

.weather dt
{
    text-align: left;
    font: bold 1.5em var(--news-font);
}

.weather dd
{
    text-align: center;
    font: bold 1.5em var(--news-font);
}

dd.symbols
{
    font: bold 2em "weather", sans-serif;
}

.zodiac
{
    width: 95%;
    height: 95%;
    margin-top: 30px;
}

.marquee-container
{
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.marquee
{
    display: inline-block;
    animation: run 13s linear infinite;
    font-size: 3em;
    font-family: Luminari, fantasy;
    color: var(--main-color);
}

@keyframes run
{
    0%
    {
        transform: translateX(0);
    }
    50%
    {
        transform: translateX(-20%);
    }
    100%
    {
        transform: translateX(0);
    }
}

.main
{
    font-family: var(--news-font), serif;
    background: #36281d;
    color: beige;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

.main h1
{
    font-size: 3em;
    margin-top: 10px;
    margin-bottom: 0;
}

.main h2
{
    font-size: 4em;
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 0;
}

.headline
{
    display: flex;
    align-items: center;
}

.pumpkin
{
    font: 75% "halloween", sans-serif;
    margin-top: 10px;
}

.super:hover
{
    text-shadow: -2.15em 0 rgba(255, 99, 71, 0.5), 2.15em 0 rgba(154, 205, 50, 0.5),
    0 0 rgba(135, 206, 250, 0.5);
}

.halloween p::first-letter
{
    font: bold 3em var(--main-news);
}

.video
{
    width: 50%;
    height: 50%;
}

.witch
{
    width: 12.5%;
    height: 12.5%;
    animation: marquee 10s infinite linear;
}

@keyframes marquee
{
    0%
    {
        transform: translateX(475%);
    }
    100%
    {
        transform: translateX(25%);
    }
}

.joke
{
    display: flex;
    margin-bottom: 0;
}

.dance
{
    margin-top: 15px;
    margin-right: 20px;
    width: 75%;
    height: 75%;
}

.joke h1
{
    margin: auto 0;
    font: 1.5em var(--title-font);
    color: var(--main-color);
}

.joke h1::first-letter
{
    font: bold 3em var(--main-news);
}

.drink
{
    margin-top: 100px;
    width: 35%;
    float: left;
    color: var(--main-color);
    font: 1.1vw Optima, sans-serif;
    position: relative;
}

.drink h1
{
    margin-top: 0;
    font-size: 2vw;
    padding-left: 20px;
}

.drink h1::first-letter
{
    font: bold 2.5vw var(--main-news);
}

.cheers
{
    width: 100%;
    height: auto;
    top: 0;
    position: absolute;
    filter: grayscale(100%);
}

.cheers:hover
{
    opacity: 0.25;
}

.hippo-image
{
    position: absolute;
    display: none;
    z-index: 100;
    transition: opacity 1s ease-in-out;

    .img
    {
        width: 250px;
        height: 250px;
    }
}

.href:hover + .hippo-image
{
    display: block;
    opacity: 1;
}

.href:hover + .hippo-image img
{
    animation: flyAway 5s linear forwards;
}

@keyframes flyAway
{
    0%
    {
        transform: translate(0, 0);
        opacity: 1;
    }
    50%
    {
        transform: translate(65%, -50%);
        opacity: 1;
    }
    100%
    {
        transform: translate(130%, -100%);
        opacity: 0;
    }
}

.hippo-news
{
    font: 2.5em var(--title-font);
    column-count: 2;
    display: flex;
    margin-right: 0;
    margin-left: auto;
    width: 60%;
}

.hippo-news p
{
    width: 100%;
    font-size: 1.5rem;
    word-break: break-word;
    column-count: 3;
}

.hippo
{
    width: 60%;
    float: right;
}

.hippo h1
{
    margin-top: 0;
    font: 5em "Headlines", sans-serif;
    margin-left: auto;
    border: 2px solid;
    background: #36281d;
    color: beige;
    text-align: center;
    margin-bottom: 0;
}

.hippo a
{
    color: beige;
}

@media screen and (max-width: 1080px)
{
    .halloween p
    {
        column-count: 2;
    }

    .name-box
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .name
    {
        flex-direction: column;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .name-wrapper
    {
        width: 98%;
    }

    .hippo-news p
    {
        column-count: 2;
    }

    .weather
    {
        float: right;
        margin-top: 0;
    }

    .super:hover
    {
        text-shadow: -1.75em 0 rgba(255, 99, 71, 0.5), 1.75em 0 rgba(154, 205, 50, 0.5),
        0 0 rgba(135, 206, 250, 0.5);
    }
}

@media screen and (max-width: 900px)
{
    .A4
    {
        display: flex;
        flex-direction: column;
    }

    .btn
    {
        order: -1;
    }

    .name
    {
        width: 100%;
        order: -1;
    }

    .play-news-wrapper
    {
        width: 60%;
        display: flex;
        flex-direction: column;
        float: left;
        margin: 0 auto 20px;
    }

    .play-news h1,
    .play-news h2
    {
        font-size: 1.75em;
    }

    .zodiac
    {
        width: 250px;
        height: 250px;
        margin: 10px;
    }

    .halloween-wrapper
    {
        margin: 0 auto;
        width: 96%;
    }

    .halloween p
    {
        column-count: 1;
    }

    .drink
    {
        float: none;
        width: 350px;
        margin: 25px 0 100px auto;
    }

    .cheers
    {
        width: 350px;
    }

    .drink h1
    {
        font-size: 1.25rem;
    }

    .drink h1::first-letter
    {
        font-size: 1.5rem;
    }

    .drink h2
    {
        font-size: 1rem;
    }

    .hippo-wrapper
    {
        width: 98%;
        margin: 0 auto;
    }

    .hippo-news
    {
        width: 100%;
    }

    .hippo
    {
        width: 80%;
        margin: 0 auto;
        float: none;
    }

    .hippo-news p
    {
        column-count: 1;
    }

    .super:hover
    {
        text-shadow: -2em 0 rgba(255, 99, 71, 0.5), 1.5em 0 rgba(154, 205, 50, 0.5),
        0 0 rgba(135, 206, 250, 0.5);
    }

    .witch
    {
        width: 17%;
        height: 17%;
    }

    .name-wrapper
    {
        flex-direction: column;
    }

    .logo
    {
        display: none;
    }
}

@media screen and (max-width: 620px)
{
    .joke
    {
        flex-direction: column;
    }

    .main h1
    {
        font-size: 2.6em;
    }

    .main h2
    {
        font-size: 3em;
        margin-left: 0;
    }

    .zodiac
    {
        width: 180px;
        height: 180px;
    }
}
